<%= form_with(model: @tweet, local: true, url: confirm_tweets_path) do |form| %>
<% if@tweet.errors.any? %>
<div id="error_msg">
  <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class='tweet_content'>
  <%= form.text_area :content %>
</div>
<div class='btn_wrapper'>
  <%= form.submit "Tweet", class: "btn_tweet" %>
</div>
<% end %>
<%= link_to  "All Tweets", tweets_path %>